<div class="single-sidebar-widget post-category-widget">
    <h4 class="category-title">Categories</h4>
      <hr />
    <ul class="cat-list mt-20" >
        {{#each categories}}
        <li>
            <a href="/blogByCategory/{{_id}}" class="d-flex justify-content-between" style="color: black; text-transform:capitalize">
                <p>{{name}}</p>
                <p>{{posts.length}}</p>
            </a>
        </li>
        {{/each}}
    </ul>
</div>