<div class="top-bar">
    <div class="container">
        <div class="row d-flex justify-content-center text-center">
            <div class="col social">
                <a href="#"><span class="fa fa-twitter"></span></a>
                <a href="#"><span class="fa fa-facebook"></span></a>
                <a href="#"><span class="fa fa-instagram"></span></a>
                <a href="#"><span class="fa fa-youtube-play"></span></a>
            </div>
            <div class="col-sm-4 search-top text-center">
                <!-- <a href="#"><span class="fa fa-search"></span></a> -->
                <form action="#" class="search-top-form">
                    <span class="icon fa fa-search"></span>
                    <input type="text" id="s" placeholder="Type keyword to search...">
                </form>
            </div>
            <div class="col text-right">
                <button class="btn btn-info btn-round" onclick="window.location='/auth/login';">Login</button>
            </div>
        </div>
    </div>
</div>

<div class="container logo-wrap">
    <div class="row pt-5">
        <div class="col-12 text-center">
            <a class="absolute-toggle d-block d-md-none" data-toggle="collapse" href="#navbarMenu" role="button"
                aria-expanded="false" aria-controls="navbarMenu"><span class="burger-lines"></span></a>
            <h1 class="site-logo"><a href="/">Wordify</a></h1>
        </div>
    </div>
</div>