<div class="single-sidebar-widget post-category-widget">
    <h3 class="category-title">Tags</h3>
      <hr />
    <ul class="tags">
        {{#each tags}}
        <li><a href="/blogByTag/{{_id}}" style="text-transform:capitalize;">{{name}}</a></li>
        {{/each}}
    </ul>
</div>