<!-- Pre-loader start -->
{{> themeLoad}}
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        {{> manager/navHeader}}

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                    <div class="pcoded-inner-navbar main-menu">
                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.form">List</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="">
                                <a href="/managers/allRequest">
                                    <span class="pcoded-micon"  style="background-color: gray;"><i class="ti-home"></i><b>D</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">List requests</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            
                        </ul>
                </nav>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <!-- Page-header start -->
                                    <div class="page-header card" style="background-color: lightgray;">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <div class="d-inline" >
                                                        <h4>Manager Information</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">

                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <!-- Tab variant tab card start -->
                                            <div class="card">
                                                <div class="card-block tab-icon">
                                                    <dl class="dl-vertical column">
                                                        <dt class="col-sm">Username</dt>
                                                        <dd class="col-sm">
                                                            {{managerAcc.username}}
                                                        </dd>
                                                        <dt class="col-sm">Full Name</dt>
                                                        <dd class="col-sm">
                                                           {{managerInfo.fullName}}
                                                        </dd>
                                                        <dt class="col-sm">Email</dt>
                                                        <dd class="col-sm">
                                                           {{managerInfo.email}}
                                                        </dd>
                                                        <dt class="col-sm">Incharge</dt>
                                                        <dd class="col-sm">
                                                           {{managerInfo.categoryId.name}}
                                                        </dd>
                                                    </dl>

                                                    <a href="/managers/updateAccount" style="float: right;">
                                                        <button type="submit" class="btn ">Update Account</button>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>