<!-- Pre-loader start -->
<div class="theme-loader">

</div>
<!-- Pre-loader end -->

<section >

    <!-- Container-fluid starts -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->
                <div class="login-card card-block auth-body mr-auto ml-auto">
                    <form class="md-float-material needs-validation" action="/auth/login" method="POST" novalidate>

                        <div class="auth-box">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center ">Sign In</h3>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="Your Username"
                                    required />
                                <div class="invalid-feedback">
                                    Please enter username 
                                </div>
                                <span class="md-line"></span>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Password"
                                    required />
                                <div class="invalid-feedback">
                                    Please enter password
                                </div>
                                <span class="md-line"></span>
                            </div>

                            {{!-- <div class="row m-t-25 text-left">
                                <div class="col-sm-5 col-xs-12">
                                </div>
                                <div class="col-sm-7 col-xs-12 forgot-phone text-right">
                                    <a href="/u/resetPassword" class="text-right f-w-600 text-inverse"> Forgot
                                         Password?</a>
                                </div>
                            </div> --}}

                            {{#if err}}
                            <div class="alert alert-danger" role="alert" style="width: auto;">
                                {{err}}
                            </div>
                            {{else if alert}}
                            <div class="alert alert-info" role="alert" style="width: auto;">
                                {{alert}}
                            </div>
                            {{/if}}

                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button
                                        class="btn btn-md btn-block text-center m-b-20">Log In
                                      
                                    </button>
                                    <p class="text-inverse text-left text-center">
                                        <a href="/auth/signup"><b>Sign up</b></a>
                                    </p>
                                </div>

                            </div>
                          
                        </div>
                    </form>
                    <!-- end of form -->
                </div>
                <!-- Authentication card end -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>