<div class="single-sidebar-widget search-widget">
    <div class="bio text-center">
        <img src="/uploads/{{userInfo.avatar}}" alt="Image Placeholder" class="img-fluid">
        <div class="bio-body">
            <h2 class="mb-30">{{userInfo.fullName}}</h2>
            {{!-- <p>{{userInfo.introduction}}</p> --}}
            <p><a href="/users/myProfile" class="genric-btn primary-border ">Read my bio</a></p>
        </div>
    </div>
</div>