<div class="single-sidebar-widget search-widget">
    <form class="search-form" action="/users/searchBlog" method="GET">
        <input placeholder="Type To Search" name="search" type="text" onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'Type To Search'">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>