<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="single-footer-widget">
                    <h6>About Us</h6>
                    <p>
                    Plenty of medical institutions have blogs, but Medical Blog stands out for covering genuinely interesting topics. 
                    Instead of numerous posts about their faculty and facilities, expect to read about health topics relevant to just about everyone.
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>